<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFood</title>
</head>
<body style="background-image: url(https://static.vecteezy.com/system/resources/previews/015/710/948/non_2x/abstract-background-texture-art-orange-and-yellow-colors-watercolor-painting-on-canvas-with-soft-red-gradient-free-vector.jpg); background-size: cover; background-position: center; min-height: 100vh;">
  <%- include('navbar.ejs') %>
  <h3 class="container" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">Your Orders:</h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-5" style="margin-bottom: 100px;">
      <% cartItems.forEach(element => { %>
        <div class="col">
          <div class="card" style="width: 300px; height: 580px; text-align: center; ">
            <img style="height: 300px; width: 298px;" src="<%= element.imageUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= element.nameItem %></h5>
              <p class="card-text">Item Code: <%= element.uniqueCode %></p>
              <p class="card-text"><strong> Price: <%= formatRP(element.price) %></strong></p>
              <a href="/cart/<%= element.id %>/removeItem" class="btn btn-danger">Remove from Cart</a>
            </div>
          </div>
        </div>
        
    <% }) %>
   
    </div>
    <a href="/cart/payment" class="container btn btn-warning" style="text-align: center; margin-bottom: 40px; font-size: 30px;"><strong> Order Now: <%= formatRP(totalPrice) %></strong></a>
  </div>  
      
    <%- include('link.ejs') %>
</body>
</html>